<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiCursorDefaultClickOutline, mdiHeartOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiHeartOutline"></v-icon>Love Me
          <template v-slot:tail> Tail </template></FancyButton
        >
      </v-col>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiCursorDefaultClickOutline"></v-icon>Click
          Me<template #tail> My Tail </template></FancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
