<script lang="ts" setup>
import {
  mdiAccountCircle,
  mdiChevronUp,
  mdiChevronDown,
  mdiContacts,
  mdiCardAccountMail,
} from "@mdi/js";
</script>

<script lang="ts">
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template>
  <br />
  <v-card class="mx-auto" max-width="800">
    <v-avatar image="owen.jpg" size="200"></v-avatar>
    <v-card-title> Name: Peerayuth Promnok</v-card-title>
    <v-card-subtitle> Nickname : Owen</v-card-subtitle>

    <v-card-item class="text-right">
      <div>
        <div class="text-overline mb-1">
          <v-icon :icon="mdiContacts"> </v-icon> Contact :
        </div>
        <div class="text-h6 mb-1">
          <v-icon :icon="mdiCardAccountMail"> </v-icon> itsmewayne.02@gmail.com
        </div>
      </div>
    </v-card-item>
    <v-card-action>
      <br />
      <v-btn
        color="orange-lighten-2"
        variant="text"
        :prepend-icon="mdiAccountCircle"
      >
        My Details
      </v-btn>
      <v-btn
        :icon="show ? mdiChevronUp : mdiChevronDown"
        @click="show = !show"
      ></v-btn>
    </v-card-action>
    <v-expand-transition>
      <div v-show="show">
        <v-card-text>
          <v-container>
            <v-card-title> My Interest : Maserati's Car </v-card-title>
            <v-img
              src="https://media.ed.edmunds-media.com/maserati/quattroporte/2022/oem/2022_maserati_quattroporte_sedan_trofeo_fq_oem_1_1280.jpg"
              height="400px"
              justify-center
            ></v-img>

            <br />
            <v-divider></v-divider>
            <v-card-title> My Education : </v-card-title>
            <br />
            <v-row>
              <v-col>Knowledge</v-col>
              <v-col>School</v-col>
              <v-col>Duration</v-col>
            </v-row>
            <br />
            <v-divider></v-divider>
            <br />
            <v-row>
              <v-col>Kindergarten 1 - Grade 9</v-col>
              <v-col>Srisuvit School</v-col>
              <v-col>2005 - 2016</v-col>
            </v-row>
            <v-row>
              <v-col>Grade 10 - Grade 12</v-col>
              <v-col>Assumption College Sriracha</v-col>
              <v-col>2017 - 2019</v-col>
            </v-row>
            <v-row>
              <v-col>Bachelor's Degree</v-col>
              <v-col>Burapha University</v-col>
              <v-col>2020 ~</v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>
